<footer>
  <main>

    <div class="column left">
      <h3>ALISTAIR WILLIS</h3>
      <p>I'm a software developer who uses modern tools and frameworks to build responsive, modular web applications.</p>
      <p>Available for hire: March 2018.</p>
    </div>

    <div class="column middle">
      <h3>EXTERNAL LINKS</h3>
      <a class="link" target="_blank" href="https://github.com/ARWL2016">Github
        <i class="footer-icon-link fa fa-github" aria-hidden="true"></i>
      </a><br>
      <a class="link" target="_blank" href="https://app.pluralsight.com/profile/alistair-willis">
        Pluralsight
      </a><br>
      <a class="link" target="_blank" href="https://www.codewars.com/users/ARWL2016">
        Codewars <img src="https://www.codewars.com/users/ARWL2016/badges/micro">
      </a>
    </div>

    <div class="column right">
      <h3 class="link" (click)="scrollToTop()">BACK TO TOP</h3>
      <hr>
      <h3 class="link" (click)="navigateTo('/overview')">OVERVIEW</h3>
      <h3 class="link" (click)="navigateTo('/portfolio')">PORTFOLIO</h3>
      <h3 class="link" (click)="navigateTo('/skills')">SKILLS</h3>
    </div>
  </main>
</footer>

