.logo-wrapper {
  width: 280px;
  min-width: 280px;
  height: 45px;
  position: relative;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: bold;

  img {
    height: 45px;
    width: auto;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }

  .logo-title {
    font-size: 0.9em;
    position: absolute;
    top: 2px;
    left: 85px;
    padding: 0;
  }

  .logo-name {
    position: absolute;
    top: 22px;
    left: 100px;
    font-size: 1.1em;
    letter-spacing: 1.3px;
  }
}
