<div class="jumbotron">
  <main>
    <h1>Full Stack Developer</h1>
    <p class="banner-text">HTML | CSS | JAVASCRIPT (ES6) | TYPESCRIPT | ANGULAR | NODE | SQL</p>
    <p>
      <a class="banner-link" href="https://github.com/ARWL2016" target="_blank" rel="noopener noreferrer">
        <i class="banner-icon-link fa fa-github" aria-hidden="true" title="Open GitHub profile"></i>
      </a>

      <a class="banner-link" href="https://www.linkedin.com/in/alistair-willis-developer/" target="_blank" rel="noopener noreferrer">
        <i class="banner-icon-link fa fa-linkedin" aria-hidden="true" title="Open LinkedIn profile"></i>
      </a>

      <i (click)='scrollTo()' class="banner-icon-link fa fa-envelope" aria-hidden="true" title="Email me"></i>

      <a href="https://app.pluralsight.com/profile/alistair-willis" target="_blank" rel="noopener noreferrer">
        <img class="ps-icon" src="../../../assets/icons/ps.jpg"  alt="pluralsight icon" title="Open Pluralsight profile">
      </a>

      <a class="banner-link" href="/alistair-willis" target="_blank" rel="noopener noreferrer">
        <img class="cv-icon"  src="../../../assets/icons/cv.png" alt="cv icon" title="Open / download CV">
      </a>
    </p>
  </main>
</div>
