<header class="header"
  [ngStyle]="{'background-image': backgroundImage, 'min-height': minHeight}">

  <div class="header-content">

  <nav class="titlebar">
    <img class="titlebar-logo" src="../assets/logo-blue.png" [routerLink]="['/overview']">
      <ul class="titlebar-list">
        <li class="titlebar-list-item">
          <a class="titlebar-anchor" [routerLink]="['/overview']" routerLinkActive="titlebar-list-item_selected">OVERVIEW</a>
        </li>
        <li class="titlebar-list-item">
          <a class="titlebar-anchor" [routerLink]="['/portfolio']" routerLinkActive="titlebar-list-item_selected">PORTFOLIO</a>
        </li>
        <li class="titlebar-list-item">
          <a class="titlebar-anchor" [routerLink]="['/skills']" routerLinkActive="titlebar-list-item_selected">SKILLS</a>

        </li>
      </ul>
  </nav>

  <div *ngIf="componentLoaded==='/overview'" class="banner">
      <h1 class="banner-header">Full Stack Web Developer</h1>
      <p class="banner-text">HTML | CSS | JAVASCRIPT | TYPESCRIPT | ANGULAR | NODE | EXPRESS | MONGODB | MYSQL</p>

      <p>
        <a href="https://github.com/{{name}}" target="_blank"><i class="banner-link project-link-icon fa fa-github" aria-hidden="true"></i></a>
        <a href="mailto:{{username}}@{{hostname}}" target="_blank"><i class="banner-link fa fa-envelope" aria-hidden="true"></i></a>
      </p>
  </div>

  </div>

</header>




<div class="content">
  <router-outlet></router-outlet>
</div>





<footer class="footer">
  <div class="footer-content-wrapper">
    <div class="footer-column footer-bio-wrapper">
      <h3 class="footer-heading">ABOUT ME</h3>
      <p class="footer-text">I'm a software developer who uses cutting edge tools and frameworks to build responsive data-rich web applications.</p>
      <p class="footer-text">Available for hire: March 2018.</p>
    </div>
    <div class="footer-column footer-contacts-wrapper">
      <h3 class="footer-heading">LINKS</h3>
      <p class="footer-text"><a target="_blank" href="https://github.com/ARWL2016">Github</a></p>
      <p class="footer-text"><a target="_blank" href="https://www.codewars.com/users/ARWL2016">Codewars</a></p>
    </div>
    <div class="footer-column footer-links-wrapper">
      <h3 class="footer-heading" [routerLink]="['/portfolio']">PORTFOLIO</h3>
      <p class="footer-text">See an overview of my projects and link to live websites and the source code.</p>
      <h3 class="footer-heading" [routerLink]="['/skills']">SKILLS</h3>
      <p class="footer-text">Get a summary of my technical skills and read about my coding philosophy.</p>
    </div>
  </div>

</footer>

