@import '../../variables';

.header {
  display: flex;
  flex-direction: column;
  // flex-grow: 0;
  background-color: #222;
  font-family: 'Montserrat', sans-serif;
  min-height: 90px;
  width: 100%;
  // border: 1px dotted green;
}

.header-content {
  width: 80%;
  max-width: $max-content-width;
  margin: 0 auto;
  transition: width 300ms;
}

.titlebar {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: 20px;
  // border: 1px dotted yellow;
}

.titlebar-logo {
  width: 250px;
  height: 45px;
  padding-top: 8px;
  flex-grow: 0;
  &:hover {
    cursor: pointer;
  }
}

.titlebar-list {
  display: flex;
  margin: 0;
  flex-grow: 1;
  align-items: center;
  height: 50px;
  // border: 1px dotted white;
  justify-content: flex-end;
}

.titlebar-list-item {
  list-style-type: none;
  display: inline-block;
  color: white;
  margin-left: 20px;
  // border: 1px dotted white;
  margin-bottom: 4px;
  padding: 10px;
}

.titlebar-list-item_selected {
  border-bottom: 4px solid $highlight-color;
  margin-bottom: 0;
}

.titlebar-anchor {
  text-decoration: none;
  color: #FFF;
  font-size: 0.9rem;
  padding: 5px 0 5px 0;
}

@media (max-width: 670px) {
  .header-content {
    width: 95%;
  }

  .titlebar {
    flex-direction: column;
  }

  .titlebar-list {
    margin-top: 30px;
  }

  .titlebar-list-item {
    margin-left: 10px;
  }

  .header {
    min-height: 140px;
  }


}

