<!-- HEADER SECTION -->
<header
  class="header"
  id="header">
  <div class="header-content">
  <nav class="titlebar">
    <!-- LOGO COMPONENT -->
    <app-logo></app-logo>
    <ul class="titlebar-list">
      <li class="titlebar-list-item">
        <a class="titlebar-anchor" routerLink="/overview" routerLinkActive="titlebar-list-item_selected">OVERVIEW</a>
      </li>
      <li class="titlebar-list-item">
        <a class="titlebar-anchor" routerLink="/portfolio" routerLinkActive="titlebar-list-item_selected">PORTFOLIO</a>
      </li>
      <li class="titlebar-list-item">
        <a class="titlebar-anchor" routerLink="/skills" routerLinkActive="titlebar-list-item_selected">ABOUT&nbsp;ME</a>
      </li>
    </ul>
  </nav>
  </div>
</header>

<!-- ROUTER OUTLET -->
<div class="content">
  <router-outlet></router-outlet>
</div>

<!-- FOOTER SECTION -->
<footer class="footer">
  <div class="footer-content-wrapper">
    <div class="footer-column footer-bio-wrapper">
      <h3 class="footer-heading">ALISTAIR WILLIS</h3>
      <p class="footer-text">I'm a software developer who uses modern tools and frameworks to build responsive, modular web applications.</p>
      <p class="footer-text">Available for hire: March 2018.</p>
    </div>
    <div class="footer-column footer-contacts-wrapper">
      <h3 class="footer-heading">EXTERNAL LINKS</h3>
      <a class="footer-link" target="_blank" href="https://github.com/ARWL2016">Github
        <i class="footer-icon-link fa fa-github" aria-hidden="true"></i>
      </a><br>
      <a class="footer-link" target="_blank" href="https://app.pluralsight.com/profile/alistair-willis">
        Pluralsight
      </a><br>
      <a class="footer-link" target="_blank" href="https://www.codewars.com/users/ARWL2016">
        Codewars <img src="https://www.codewars.com/users/ARWL2016/badges/micro">
      </a>
    </div>
    <div class="footer-column footer-links-wrapper">
      <h3 class="footer-heading footer-link" (click)="scrollToTop()">BACK TO TOP</h3>
      <hr class="footer-line">
      <h3 class="footer-heading footer-link" (click)="navigateTo('/overview')">OVERVIEW</h3>
      <h3 class="footer-heading footer-link" (click)="navigateTo('/portfolio')">PORTFOLIO</h3>
      <h3 class="footer-heading footer-link" (click)="navigateTo('/skills')">SKILLS</h3>
    </div>
  </div>
</footer>

