@import '../../variables';

.header {
  background-color: #222;
  font-family: 'Montserrat', sans-serif;
  min-height: 80px;
  width: 100%;
  padding: 15px;
}

.header-content {
  width: 80%;
  max-width: $max-content-width;
  margin: 0 auto;
  transition: width 300ms;
}

.titlebar {
  @include flex();
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  margin-top: 0px;
}

// LOGO

// .logo-wrapper {
//   width: 280px;
//   min-width: 280px;
//   height: 45px;
//   position: relative;
//   display: inline-block;
//   color: white;
//   text-transform: uppercase;
//   font-weight: bold;

//   img {
//     height: 45px;
//     width: auto;
//   }

//   .logo-title {
//     font-size: 0.9em;
//     position: absolute;
//     top: 2px;
//     left: 85px;
//     padding: 0;
//   }

//   .logo-name {
//     position: absolute;
//     top: 22px;
//     left: 100px;
//     font-size: 1.1em;
//     letter-spacing: 1.3px;
//   }
// }

.titlebar-list {
  @include flex();
  margin: 0;
  flex-grow: 1;
  align-items: center;
  height: 50px;
  justify-content: flex-end;
}

.titlebar-list-item {
  list-style-type: none;
  display: inline-block;
  color: white;
  margin-left: 20px;
  margin-bottom: 4px;
  padding: 10px;
}

.titlebar-list-item_selected {
  border-bottom: 4px solid $highlight-color;
  margin-bottom: 0;
}

.titlebar-anchor {
  text-decoration: none;
  color: #FFF;
  font-size: 0.85rem;
  padding: 5px 0 5px 0;
}

@media screen and (max-width: 770px) {
  .header-content {
    width: 95%;
  }

  .titlebar {
    flex-direction: column;
    align-items: center;
  }

  .titlebar-list {
    margin-top: 30px;
  }

  .titlebar-list-item {
    margin-left: 10px;
    padding: 10px 20px;
  }

  .header {
    min-height: 120px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding: 20px 10px 10px 10px;
  }

  .header-content {
    width: 100%;
  }

  .titlebar-list {
    margin-top: 25px;
  }

  .titlebar-list-item {
    padding: 10px 3px;
  }
}

