<header class="header"
  [ngStyle]="{'background-image': backgroundImage, 'min-height': minHeight}">

  <div class="header-content">

  <nav class="titlebar">
    <img class="titlebar-logo" src="../assets/logo-blue.png" [routerLink]="['/overview']">
      <ul class="titlebar-list">
        <li class="titlebar-list-item">
          <a class="titlebar-anchor" [routerLink]="['/overview']" routerLinkActive="titlebar-list-item_selected">OVERVIEW</a>
        </li>
        <li class="titlebar-list-item">
          <a class="titlebar-anchor" [routerLink]="['/portfolio']" routerLinkActive="titlebar-list-item_selected">PORTFOLIO</a>
        </li>
        <li class="titlebar-list-item">
          <a class="titlebar-anchor" [routerLink]="['/skills']" routerLinkActive="titlebar-list-item_selected">SKILLS</a>
        </li>
      </ul>
  </nav>

  <div *ngIf="componentLoaded==='/overview'" class="banner">
      <h1 class="banner-header">Full Stack Web Developer</h1>
      <p class="banner-text">HTML | CSS | JAVASCRIPT | TYPESCRIPT | ANGULAR | NODE | EXPRESS | MONGODB | MYSQL</p>
  </div>

  </div>

</header>




<div class="content">
  <router-outlet></router-outlet>
</div>





<footer class="footer">

</footer>

