@import '../../variables';

.footer {
  display: flex;

  flex-grow: 0;
  background-color: #222;
  color: white;
  min-height: 300px;
  bottom: 0;
  // overflow:auto;

}

.footer-content-wrapper {
  display: flex;
  flex-direction: row;
  font-weight: 300;
  max-width: $max-content-width;
  margin: 0 auto;
  padding: 30px;
  line-height: 1.8em;
  overflow: auto;
  // border: 1px dotted yellow;
}

.footer-column {
  padding: 20px 20px 20px 50px;

  // border: 1px dotted white;
   &:nth-child(1) {
    width: 40%;
  }
  &:nth-child(2) {
    width: 30%;
  }
  &:nth-child(3) {
    width: 30%;
  }
}

.footer-heading {
  font-size: 0.9em;
  font-family: $heading-font;
}

.footer-text {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.footer-link {
  @include project-links();
  &:hover {
    text-decoration: none;
  }
}

.footer-icon-link {
  &:hover {
    text-decoration: none;
  }
}

.footer-line {
  color: $highlight-color;
  background-color: $highlight-color;
  height: 2px;
  border: 0;
  width: 50%;
  text-align: left;
  margin: 10px auto 10px 0;
}

@media (max-width: 930px) {
  .footer-content-wrapper {
    padding: 30px 10px 10px 10px;
  }

  .footer-column {
    padding: 10px;
  }
}

@media (max-width: 670px) {


  .footer-column:nth-child(1) {
    display: none;
  }
  .footer-column:nth-child(2) {
    width: 50%;
  }
  .footer-column:nth-child(3) {
    width: 50%;
  }

}
