@import '../../variables';
@import 'overview.component.layout.scss';

// BANNER SECTION

.banner-section {
  // border: 1px dotted blue;
  height: 600px;
  // background-color: #000;
  background-image: url('../../assets/images/splash-wide-min.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
  padding: 30px;
}

.banner-content {
  margin-top: 200px;
}

.banner-header {
  margin-bottom: 20px;
  // border: 1px dotted white;

  padding: 5px;
  padding-left: 10px;
  letter-spacing: 2.5px;
  font-size: 3.2rem;
  // background-color: rgba(255, 255, 255, 1);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
  // opacity: 0.7;
}

.banner-text {
  // border: 1px dotted white;
  font-size: 1.1rem;
  line-height: 30px;
  color: white;
  letter-spacing: 1.5px;
}

.banner-icon-link {
  font-size: 2em;
  color: white;
  padding: 15px 20px 15px 0;
  &:hover {
    cursor: pointer;
  }
}


// SKILLS SECTION
// *********************************************

.skill-card {
  align-items: center;
  display: flex;
  width: 33.3%;
  flex-direction: column;
  line-height: 2rem;
  padding: 25px;
  margin: 10px 15px;
  transition: width 400ms ease-in;
}

.skill-icon {
  font-size: 2rem;
  margin-bottom: 5px;
}

.skill-card-heading {
  // border: 1px dotted yellow;
  margin-top: 3px;
  margin-bottom: 10px;
  text-align: center;
  font-family: $heading-font;
  border-bottom: 3px solid $highlight-color;
}

.skill-card-text {
  // border: 1px dotted yellow;
  text-align: center;
}

// PORTFOLIO SECTION
// *********************************************

.section-banner {

  margin-top: 80px;
  padding: 30px;
  // border: 1px dotted blue;
  background-color: white;
  box-shadow: $box-shadow-style;


}

.section-heading-wrapper {
  // border: 1px dotted blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 30px;
}

.project-icon {
  height: 36px;

}

.section-heading {
  // border: 1px dotted blue;
  margin-left: 18px;
  letter-spacing: 2px;
  font-size: 1.5em;
  font-family: $heading-font;
  padding: 3px 0;
  border-bottom: 3px solid $highlight-color;
}

.section-banner-text {
  line-height: $tall-line-height;

  a {
    @include project-links();
  }
}

// PROJECT CARDS
// ***********************

.project {
  background-color: #fff;
  // border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  width: 100%;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
  &:last-child {
    margin-bottom: 40px;
  }
}

.project-heading {
  font-family: $heading-font;
}

.image-column {
  width: 310px;
  // border: 1px dotted green;
  float: left;
}

.text-column {
  // border: 1px dotted green;
  float: left;
}

.text-wrapper {
  margin: 30px 30px 30px 0;
}

.project-image {
  width: 250px;
  margin: 30px;
  border: 1px solid #222;
  border-radius: 3px;
  transition: all 250ms;
}

.project-text {
  margin-top: 10px;
  line-height: 2rem;
}

.project-links {
  margin-top: 40px;
}

.project-link {
  @include project-button-link();
  text-align: center;
}

.project-link-icon {
  font-size: 1.2em;
}


// MEDIA QUERIES
// *********************************************

@media (max-width: 1000px) {

  .banner-content {
    margin-top: 120px;
  }

  .image-column {
    width: 200px;
  }

  .project-image {
    width: 150px;
  }


}

@media (max-width: 670px) {
  .section-banner {
    margin-top: 10px;
  }

  .banner-header {
    font-size: 2em;
    // margin-top: 100px;
  }

  .banner-text {
    font-size: 1em;
  }


}

@media (max-width: 610px) {
  .skills-section {
    margin-bottom: 20px;
  }
  .project {
    margin-top: 30px;
  }

  .project-image {
    display: none;
  }

  .image-column {
    width: 0px;
  }

  .text-wrapper {
    margin: 30px 30px 30px 30px;
  }

  .project-link {
    width: 100%;
    display: block;
    margin: 12px auto;

  }
}

