@import '../../style-config.scss';

.skills-section {
  display: flex;
  flex-direction: row;
  max-width: $max-content-width;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  // border: 1px dotted blue;
}

.portfolio-section {
  width: 100%;
  background-color: $light-grey-background;
  // to cover a mysterious gap
  margin-bottom: -30px;
  overflow: auto;
}

.portfolio-content {
  max-width: $max-content-width;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 100px;
  }
}

// MEDIA QUERIES
// *********************************************

@media (max-width: 890px) {

  .skills-section {
    flex-direction: column;
  }

  .portfolio-content {
    width: 95%;
  }
}
