@import '../../variables';

.banner-content {
  max-width: $max-content-width;
  margin: 0 auto;
}

.skills-section {
  display: flex;
  flex-direction: row;
  max-width: $max-content-width;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  // border: 1px dotted blue;
}

.portfolio-section {
  width: 100%;
  background-color: $light-grey-background;
  // to cover a mysterious gap
  // margin-bottom: -30px;
  overflow: hidden;
}

.portfolio-content {
  max-width: $max-content-width;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 100px;
  }
}

// MEDIA QUERIES
// *********************************************

@media (max-width: 1080px) {

  .banner-content {
    width: 95%;
  }

  .skills-section {
    flex-direction: column !important;
  }

  .skill-card {
    width: 100% !important;
    margin: 0 !important;
  }

  .portfolio-content {
    width: 95%;
  }
}


