@import '../../shared/variables.scss';



// SKILLS SECTION
// *********************************************

.skills-section {
  display: flex;
  flex-direction: row;
  max-width: $max-content-width;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  // border: 1px dotted blue;
}

.skill-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  padding: 25px;
  border: 1px dotted yellow;
}

.skill-icon {
  font-size: 2rem;
}

.skill-card-heading {
  border: 1px dotted yellow;
  margin-bottom: 10px;
  text-align: center;
}

.skill-card-text {
  border: 1px dotted yellow;
  text-align: center;
}

// PORTFOLIO SECTION
// *********************************************

.portfolio-section {
  width: 100%;
  background-color: #f2f2f2;
  // height: 500px;
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  max-width: $max-content-width;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;

}

.section-heading {
  margin: 0 auto;
  margin-top: 75px;
  letter-spacing: 2px;
  background-color: #FFF;
  opacity: 0.7;
  padding: 5px 30px 5px 30px;
}

.projects {

}

.project {
  display: flex;
  flex-direction: row;
  width: 100%;
  // height: 400px;
  background-color: #fff;
  margin-top: 50px;
  // temp
  margin-bottom: 50px;
}

.project-image {
  order: 2;
  flex-grow: 0;
  height: 300px;
  width: 300px;
  padding: 30px;
}

.project-description {
  display: flex;
  flex-direction: column;
  padding: 30px;
  line-height: 2rem;
}

.project-heading {
  margin-top: 20px;
}

.project-text {
  margin-top: 20px;
}

.project-links {
  margin-top: 40px;
}

.project-link {
  @include project-buttons($highlight-color);

}


// MEDIA QUERIES
// *********************************************

@media (max-width: 800px) {

  .skills {
    flex-direction: column;
  }

}
