
<section class="skills-section">

  <table class="skills-table">

    <tr class="skills-table-row">
      <td class="skills-table-cell">Languages</td>
      <td class="skills-table-cell">HTML, CSS, Javascript (ES6), Typescript, SQL</td>
    </tr>
    <tr class="skills-table-row">
      <td class="skills-table-cell">CSS Frameworks / Preprocessors</td>
      <td class="skills-table-cell">Bootstrap, Sass</td>
    </tr>
    <tr class="skills-table-row">
      <td class="skills-table-cell">Front End</td>
      <td class="skills-table-cell">Angular, AngularJS, JQuery</td>
    </tr>
    <tr class="skills-table-row">
      <td class="skills-table-cell">Server Side</td>
      <td class="skills-table-cell">Node, Express</td>
    </tr>
    <tr class="skills-table-row">
      <td class="skills-table-cell">Data Layer</td>
      <td class="skills-table-cell">MongoDB, Mongoose, MySQL</td>
    </tr>
    <tr class="skills-table-row">
      <td class="skills-table-cell">Testing</td>
      <td class="skills-table-cell">Mocha, Chai, Supertest</td>
    </tr>
    <tr class="skills-table-row">
      <td class="skills-table-cell">Build Tools</td>
      <td class="skills-table-cell">Npm Scripts, Bower, Webpack</td>
    </tr>
    <tr class="skills-table-row">
      <td class="skills-table-cell">Hosting</td>
      <td class="skills-table-cell">Heroku, MLab</td>
    </tr>
    <tr class="skills-table-row">
      <td class="skills-table-cell">Tools</td>
      <td class="skills-table-cell">Visual Studio Code, Powershell, Chrome DevTools, Postman, Robomongo, MySQL Workbench</td>
    </tr>
  </table>




</section>
