@import 'src/styles/variables';

// LAYOUT STYLES ********

.page-wrapper {
  background-color: $light-grey-background;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
}

.skills-section {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

// HEADING STYLES ********

.skills-heading-wrapper {
  margin: 50px 0 30px 0;
  @include flex();
  flex-direction: row;
  align-items: center;
  justify-content: left;

}

.skills-icon {
  height: 36px;
}

.skills-heading {
  margin-left: 18px;
  font-family: $heading-font;
}

// TEXT STYLES ********

.skills-text {

  p {
    margin-bottom: 20px;
    line-height: $tall-line-height;
  }

  p:last-child {
    margin-bottom: 50px;
  }
}

.text-link {
 @include project-links;
}

.cv-link {
  img {
    height: 1.5em;
  }

  a {
    color: $highlight-color;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}




@media (max-width: 800px) {
  .skills-section {
    width: 90%;
    margin-top: 30px;
  }
  .skills-heading-wrapper {
    margin-top: 30px;
  }
}





