<div class="page-wrapper" [@showPage]="'on'">
  <div class="content-wrapper">
  <section class="skills-section">

    <div class="skills-heading-wrapper">
      <img class="skills-icon" src="../../assets/icons/skills.png">
      <h2 class="skills-heading">ABOUT ME</h2>
    </div>
    <p class="skills-text">
      I am an aspiring web developer specializing in full stack Javascript applications using the MEAN stack -
      Angular, Express, Node and MongoDB or MySQL. I work with a modern development environment, using Webpack
      for module bundling, NPM for package management and build scripts, and various CSS frameworks for rapid
      prototyping, as well as native CSS.
    </p>
    <p class="skills-text">
      As a developer, I strive to write code which is clean and concise but readable and easy to maintain. I work
      mainly with Angular because I value its clear organisation and separation of concerns. I also make
      use of any syntax and methods which improve code clarity and maintainability, such as ES6, promises, Sass
      and the B.E.M. methodology for modular CSS.
    </p>
    <p class="skills-text">
        The table below shows the key technologies used in the featured on this site. Items in <b>bold</b> represent
        core proficiencies.
      </p>

    <table class="skills-table">
      <tr class="skills-table-row">
        <td class="skills-table-cell">Languages</td>
        <td class="skills-table-cell"><b>HTML, CSS, Javascript (ES6)</b>, Typescript, SQL</td>
      </tr>
      <tr class="skills-table-row">
        <td class="skills-table-cell">CSS Frameworks / Preprocessors</td>
        <td class="skills-table-cell"><b>Sass</b>, Bootstrap, MaterializeCSS</td>
      </tr>
      <tr class="skills-table-row">
        <td class="skills-table-cell">Front End</td>
        <td class="skills-table-cell"><b>Angular, AngularJS</b>, Vue.js JQuery</td>
      </tr>
      <tr class="skills-table-row">
        <td class="skills-table-cell">Server Side</td>
        <td class="skills-table-cell"><b>Node, Express</b></td>
      </tr>
      <tr class="skills-table-row">
        <td class="skills-table-cell">Data Layer</td>
        <td class="skills-table-cell"><b>MongoDB, Mongoose</b>, MySQL</td>
      </tr>
      <tr class="skills-table-row">
        <td class="skills-table-cell">Testing</td>
        <td class="skills-table-cell">Mocha, Chai, Supertest</td>
      </tr>
      <tr class="skills-table-row">
        <td class="skills-table-cell">Build Tools</td>
        <td class="skills-table-cell"><b>NPM Scripts</b>, Bower, Webpack</td>
      </tr>
      <tr class="skills-table-row">
          <td class="skills-table-cell">Version Control</td>
          <td class="skills-table-cell"><b>Git, Github</b></td>
        </tr>
      <tr class="skills-table-row">
        <td class="skills-table-cell">Hosting</td>
        <td class="skills-table-cell">Heroku, MLab</td>
      </tr>
      <tr class="skills-table-row">
        <td class="skills-table-cell">Tools</td>
        <td class="skills-table-cell"><b>Visual Studio Code, Powershell, Chrome DevTools</b>, Postman, Robomongo, MySQL Workbench</td>
      </tr>
    </table>

    <div class="skills-heading-wrapper">
        <img class="skills-icon" src="../../assets/icons/studying.png">
        <h2 class="skills-heading">LEARNING</h2>
    </div>
    <p class="skills-text">
      I make heavy use of Pluralsight to upgrade my skills and learn new techniques.
      You can view skills evaluations for Javascript, Node and other technologies,
      and view a list of completed courses, on the <a class="text-link" href="https://app.pluralsight.com/profile/alistair-willis" target="_blank">profile page.</a>
    </p>
    <p class="skills-text">For practicing algorithms and sharpening problem solving skills
      I use the Codewars site. You can see my ranking for Javascript, Java and C# on the
      <a class="text-link" href="https://www.codewars.com/users/ARWL2016" target="_blank">profile page</a> and view solutions as <a class="text-link" href="https://gist.github.com/ARWL2016" target="blank">Github gists</a>.

    </p>


  </section>
  </div>
</div>
