
<section class="skills-section">

  <h2>Stack</h2>
  <p></p>

  <table class="skills-table">
    <tr class="skills-table-row">
      <td class="skills-table-cell">Languages</td>
      <td class="skills-table-cell">HTML, CSS, Javascript (ES6), Typescript, SQL</td>
    </tr>
    <tr class="skills-table-row">
      <td class="skills-table-cell">CSS Frameworks / Preprocessors</td>
      <td class="skills-table-cell">Bootstrap, Sass</td>
    </tr>
    <tr class="skills-table-row">
      <td class="skills-table-cell">Front End</td>
      <td class="skills-table-cell">Angular, AngularJS, JQuery</td>
    </tr>
    <tr class="skills-table-row">
      <td class="skills-table-cell">Server Side</td>
      <td class="skills-table-cell">Node, Express</td>
    </tr>
    <tr class="skills-table-row">
      <td class="skills-table-cell">Data Layer</td>
      <td class="skills-table-cell">MongoDB, Mongoose, MySQL</td>
    </tr>
    <tr class="skills-table-row">
      <td class="skills-table-cell">Testing</td>
      <td class="skills-table-cell">Mocha, Chai, Supertest</td>
    </tr>
    <tr class="skills-table-row">
      <td class="skills-table-cell">Build Tools</td>
      <td class="skills-table-cell">Npm Scripts, Bower, Webpack</td>
    </tr>
    <tr class="skills-table-row">
      <td class="skills-table-cell">Hosting</td>
      <td class="skills-table-cell">Heroku, MLab</td>
    </tr>
    <tr class="skills-table-row">
      <td class="skills-table-cell">Tools</td>
      <td class="skills-table-cell">Visual Studio Code, Powershell, Chrome DevTools, Postman, Robomongo, MySQL Workbench</td>
    </tr>
  </table>

  <h2>Front End</h2>
  <p>
    For full stack web application projects, I now use some variation of the MEAN stack: Angular, Node, Express
    and MongoDB or MySQL. Angular's component-based architecture and the separation of concerns between view, model
    and services makes it possible to develop and maintain applications in a modular style. Plus, the comprehensive
    nature of the Angular platform means that most common application features are available out of the box.
    I have also experimented with React and build a couple of small applications. However, I believe that Angular's
    template model is more intuitive and cleaner than React's JSX syntax.
  </p>
  <p>
    Before gravitating toward Angular, I built several front end projects using JQuery and JQueryUI. It is a convenient
    library for simple front end applications, particularly ones which need a lot of DOM manipulation and UI effects.
    However, the use cases for JQuery are probably getting fewer every day, thanks to more standardized web browsers,
    CSS3 animation features, and the advent of Single Page Applications.
  </p>
  <p>
    When it comes to front end styling and components, I find that using a CSS framework such as Bootstrap, Foundation
    or MaterializeCSS can save a lot of development time and make it possible to prototype decent looking and responsive
    applications quite quickly. However, these frameworks can produce very generic looking applications, and sometimes
    clash unpredicatably with custom styles.
  </p>
  <p>When it comes to front end design, I strive to build applications </p>




</section>
