@import '../../style-config.scss';

// PORTFOLIO WRAPPER
// *********************************************
.page-wrapper {
  background-color: $light-grey-background;
  border: 1px dotted blue;
}

.portfolio-content {
  max-width: $max-content-width;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

// PROJECT CARD
// *********************************************

.project-card {
  background-color: #fff;
  border-radius: 5px;
  // display: flex;
  // flex-direction: column;
  margin-top: 50px;
  padding: 30px;
  width: 100%;
  &:last-child {
    margin-bottom: 50px;
  }
  box-shadow: 2px 2px 4px #444;

}

.project-heading {
  margin-bottom: 10px;
  font-size: 2.2em;
  color: $highlight-color;
}

.project-tech {
  font-size: 0.9em;
  letter-spacing: 2px;
  color: #444;
  margin-bottom: 10px;
  background-color: $light-grey-background;
  padding: 8px;
  border-radius: 3px;
}

.project-columns {
  display: flex;
  flex-direction: row;
  margin: 20px 0 30px 0;

}

.project-image-column {
  // display: flex;
  // flex-direction: row;
  // border: 1px solid green;
  // margin: 20px 0 30px 0;
  // border: 1px dotted blue;
  float: left;
}

.project-text-column {
  // border: 1px dotted blue;
  float: left;
  margin: 0 20px 0 20px;
}

.project-image {
  // order: 0;
  // flex-grow: 0;
  // height: 250px;
  width: 300px;
  // margin: 30px;
  // border: 1px solid #222;
  border-radius: 3px;
}

// this paragraph sits next to the image
.project-text {
  line-height: 1.8em;
}

.project-list {
  line-height: 1.8em;
}

// STATS ********************

.project-stat-wrapper {
  background-color: $light-grey-background;
  padding: 4px 4px 10px 4px;
  margin-top: 20px;
  border-radius: 3px;
  // margin-left: 12px;
}

.project-stat {
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: 2px;
  margin-top: 12px;
  margin-left: 12px;
  // color: red;
}

.project-stat-badge {
  background-color: $highlight-color;
  padding: 3px 8px 3px 8px;
  border-radius: 10px;
  color: white;
  font-size: 0.9em;
  text-align: right;
}

// LINKS ********************

.project-links-wrapper {
  // flex-direction: row;
  margin-left: 320px;
}

.project-link {
  @include project-buttons($highlight-color);
  text-decoration: none;
  font-weight: 500;
  // float: right;
}

.project-link-icon {
  font-size: 1.2em;
}


