@import '../../style-config.scss';

// PAGE LAYOUT ************

.page-wrapper {
  background-color: $light-grey-background;
  min-height: 95vh;
  // prevents white space at bottom
  overflow: hidden;
}

.portfolio-content,
.search-wrapper {
  max-width: $max-content-width;
  width: 80%;
  margin: 0 auto;
  transition: width 300ms;
  // margin-bottom: 30px;
  // border: 1px dotted red;
}

// SEARCH INPUT ************

.search-wrapper {

  // border: 1px dotted lightgreen;
  padding-top: 50px;
  // width: 100%;

  label {
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 0.1px;
    padding: 5px 8px;
  }

  .input-wrapper {
    position: relative;
    // border: 1px dotted red;

    i.search-icon {
      position: absolute;
      top: 14px;
      left: 12px;
      font-size: 1.2em;
    }

    input {
      height: 46px;
      font-size: 1.2em;
      border-radius: 10px;
      padding: 10px;
      padding-left: 44px;
      width: 50%;
      box-shadow: $box-shadow-style;
      border: 1px solid $highlight-color;
      transition: box-shadow 400ms;
      &:focus {
        box-shadow: 0 0 1px 1px $highlight-color;
        outline: none;
      }
    }
  }
}




.search-result {
  color: #444;
  font-style: italic;
  padding: 7px;

}

// PROJECT CARD ************

.project-card {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  padding: 30px;
  width: 100%;
  box-shadow: $box-shadow-style;
  &:first-child {
    margin-top: 30px;
  }
  &:last-child {
    margin-bottom: 100px;
  }
}

.project-heading {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2em;
  color: $highlight-color;
  display: inline-block;
}

.project-stack-type {
  float: right;
  padding: 12px;

  i {
    padding-left: 5px;
  }
}

.project-tech {
  font-size: 0.9em;
  letter-spacing: 2px;
  color: #444;
  margin-bottom: 10px;
  background-color: $mustard-yellow;
  padding: 8px;
  border-radius: 3px;
}

.project-columns {
  display: flex;
  flex-direction: row;
  margin: 20px 0 30px 0;
}

.project-image-column {
  float: left;
}

.project-text-column {
  // border: 1px dotted blue;
  float: left;
  margin: 0 20px 0 20px;
}

.project-image {
  width: 300px;
  border-radius: 3px;
  transition: width 300ms;
}

// this paragraph sits next to the image
.project-text {
  line-height: $tall-line-height;
}

.project-list {
  line-height: $tall-line-height;
}

.project-list-item {
  list-style-type: square;
}

// STATS ********************

.project-stat-wrapper {
  background-color: $light-grey-background;
  // padding: 4px 4px 10px 4px;
  padding: 10px 15px 10px 15px;
  margin-top: 20px;
  border-radius: 3px;
  // margin-left: 12px;
}

.project-stat {
  font-weight: bold;
  font-size: 0.85em;
  letter-spacing: 1.5px;
  line-height: 2.2em;
  // margin-top: 12px;
  // margin-left: 12px;
  // color: red;
}

.project-stat-badge {
  background-color: $mustard-yellow;
  padding: 3px 8px 3px 8px;
  border-radius: 10px;
  color: black;
  font-size: 0.8em;
  text-align: right;

}

.tooltip {
  font-size: 1em;
  color: $highlight-color;
  &:hover {
    cursor: pointer;
  }
}

// LINKS ********************

.project-links-wrapper {
  // flex-direction: row;
  margin-left: 320px;
}

.project-link {
  @include project-button-link();
  // @include project-buttons($highlight-color);
  // text-decoration: none;
  // font-weight: 500;
  // float: right;
}

.project-link-icon {
  font-size: 1.2em;
}

.back-to-top-icon {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 32px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  transition: all 500ms;
  &:hover {
    cursor:pointer
  }
}

// MEDIA QUERIES
// *********************************************

@media screen and (max-width: 930px) {

  .portfolio-content,
  .search-wrapper {
    width: 95%;
  }

  .project-image {
    width: 200px;
  }

  .project-links-wrapper {
    margin-left: 220px;
  }

}

@media screen and (max-width: 595px) {

  .search-wrapper {
    .input-wrapper {
      input {
        width: 100%;
      }
    }
  }

  .project-image-column {
    display: none;
  }

  .project-links-wrapper {
    margin-left: 20px;
  }
}


