<div class="page-wrapper" [@showPage]="'on'">

  <div class="search-input-wrapper" >
    <form (keyup)="search()">
      <input class="search-input" name="search" type="text" [(ngModel)]="searchTerm" placeholder="search by technology">
      <i class="search-icon fa fa-search" aria-hidden="true"></i>
      <p *ngIf="results !== 1" class="search-result">{{results}} results</p>
      <p *ngIf="results === 1" class="search-result">{{results}} result</p>
    </form>
  </div>

<section *ngIf="projectData" class="portfolio-content">

  <article class="project-card" *ngFor="let project of projectData" [@showPage]="'on'">
    <h1 class="project-heading">{{ project.name }}</h1>
    <p class="project-tech">{{ project.tech | uppercase }}</p>
    <div class="project-columns">
      <div class="project-image-column">
        <img src={{project.image_url}} class="project-image" [ngStyle]="{'order': project.image_order}" >
        <div class="project-stat-wrapper">
          <p class="project-stat">PAGE SIZE <span class="project-stat-badge">{{ project.page_size }}kb</span></p>
          <p class="project-stat">LOAD TIME <span class="project-stat-badge">{{ project.page_load_time }}s</span></p>
          <p class="project-stat">PAGE SPEED SCORE <span class="project-stat-badge">{{ project.page_speed_score }}%</span></p>
        </div>
      </div>

      <div class="project-text-column">
        <p class="project-text">{{ project.user_stories }}</p>
        <ul class="project-list">
          <li class="project-list-item" *ngFor="let highlight of project.highlights">{{ highlight }}</li>
        </ul>


      </div>
    </div>
    <div class="project-links-wrapper">
      <a class="project-link" target="_blank" href={{project.github_link}}><i class="project-link-icon fa fa-github" aria-hidden="true"></i>&nbsp;SOURCE&nbsp;CODE</a>
      <a class="project-link" target="_blank" href={{project.website_link}}><i class="project-link-icon fa fa-external-link-square" aria-hidden="true"></i>&nbsp;VIEW&nbsp;WEBSITE</a>
    </div>

  </article>

</section>

</div>
