<div class="page-wrapper" [@showPage]="'on'">

  <!-- BANNER SECTION -->
  <section class="portfolio-banner">
    <div class="heading">
      <img class="project-icon" src="../../assets/icons/webpage-128.png">
      <h2>PORTFOLIO</h2>
    </div>
    <p>This page contains information about and links to some of my recent web application projects.</p>
    <p>More detailed technical information for each app is available on the Github README page.</p>
    <div class="toggle" (click)="toggleDetails()">
      <i *ngIf="!showDetails" class="fa fa-caret-right"></i>
      <i *ngIf="showDetails" class="fa fa-sort-down"></i>
      <p>Accessibility</p>
    </div>

    <ul *ngIf="showDetails">
      <li>
        All projects are hosted on free dynos at Heroku. There may be an initial loading delay while the server wakes
        up.
      </li>
      <li>
        Some projects have not been subject to full cross browser testing. A modern desktop browser is recommended.
      </li>
    </ul>

  </section>

  <app-search (searchValueChanged)="onSearchValueChanged($event)" [searchResultsCount]="searchResultsCount">
  </app-search>

  <!-- PORTFOLIO SECTION -->
  <section *ngIf="displayedProjects" class="portfolio-content">

    <article class="project-card" *ngFor="let project of displayedProjects" [@showPage]="'on'">

      <!-- header -->
      <h1>{{ project.name }}</h1>
      <span class="icon-container">
        <i *ngIf="project.type.frontend" title="front end" class="fa fa-desktop" aria-hidden="true"></i>
        <i *ngIf="project.type.server" title="server" class="fa fa-server" aria-hidden="true"></i>
        <i *ngIf="project.type.database" title="database" class="fa fa-database" aria-hidden="true"></i>
      </span>
      <p class="tech">{{ project.tech | uppercase }}</p>
      <div class="column-container">

        <!-- image column -->
        <div class="left">
          <a [href]="project.website_link" target="_blank" rel="noopener noreferrer">
            <img [src]="project.image_url" class="project-image" [ngStyle]="{'order': project.image_order}">
          </a>

          <!-- stats -->
          <div class="project-stat-wrapper">

            <app-stat label="PAGE SIZE" [value]="project.pingdom_page_size_kb" unit="kb" note="Data is raw size without browser caching"></app-stat>
            <app-stat label="LOAD TIME" [value]="project.pingdom_average_load_time" unit="s" note="Measured by Pingdom Website Speed Test. Average of four speeds measured from San Jose, New York, Stockholm and Melbourne."></app-stat>
            <app-stat label="PAGE SPEED SCORE" [value]="project.google_page_speed_score" unit="%" note="Score is from Google Page Speed Insights (desktop)."></app-stat>
            <app-stat label="SECURITY GRADE" [value]="project.mozilla_security_grade" note="Security assessment is by Mozilla Observatory."></app-stat>


          </div>
        </div>

        <!-- text column -->
        <div class="right">
          <p class="project-text">{{ project.user_stories }}</p>
          <ul class="project-list">
            <li class="project-list-item" *ngFor="let highlight of project.highlights">{{ highlight }}</li>
          </ul>
        </div>
      </div>

      <!-- buttons -->
      <div class="button-container">
        <a target="_blank" href={{project.github_link}}><i class="fa fa-github"
            aria-hidden="true"></i>&nbsp;SOURCE&nbsp;CODE</a>
        <a target="_blank" href={{project.website_link}}><i class="fa fa-external-link-square"
            aria-hidden="true"></i>&nbsp;VIEW&nbsp;WEBSITE</a>
      </div>

    </article>
  </section>

</div>

<img *ngIf="showBackToTopIcon" (click)="scrollToTop()" [@showPage]="'on'" class="back-to-top-icon"
  src="../../assets/icons/up-arrow-64.png">
