<header class="header">

  <div class="header-content">

  <nav class="titlebar">
    <img class="titlebar-logo" src="../assets/logo-pink.png">
      <ul class="titlebar-list">
        <li class="titlebar-list-item_selected"><a class="titlebar-anchor" href="/overview">OVERVIEW</a></li>
        <li class="titlebar-list-item"><a class="titlebar-anchor" href="">PORTFOLIO</a></li>
        <li class="titlebar-list-item"><a class="titlebar-anchor" href="">SKILLS</a></li>
      </ul>
  </nav>

  <div class="banner">
      <h1 class="banner-header">Full Stack Web Developer</h1>
      <p class="banner-text">HTML | SASS | JAVASCRIPT | TYPESCRIPT | ANGULAR | NODE | EXPRESS | MONGODB | MYSQL</p>
  </div>

  </div>

</header>




<div class="content">
  <router-outlet></router-outlet>
</div>
  <!-- content -->




<footer class="footer">

</footer>

