@import 'app.component.header.scss';
@import 'app.component.content.scss';
@import 'app.component.footer.scss';

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}





