<header class="header">

  <nav class="titlebar">
    <img class="titlebar-logo" src="../assets/logo-pink.png">
      <ul class="titlebar-list">
        <li class="titlebar-list-item">Overview</li>
        <li class="titlebar-list-item">Portfolio</li>
        <li class="titlebar-list-item">Skills</li>
      </ul>
  </nav>

  <div class="banner">
    <div class="banner-text">
      <h1 class="banner-header">Front End Developer</h1>
      <p class="banner-text">Some waffle goes here.</p>
    </div>
  </div>

</header>

<div class="content">

</div>

<footer class="footer">

</footer>

