@import '../shared/variables.scss';

.header {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  background-color: red;
  background-image: url('../assets/splash-wide.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  width: 100%;
  // border: 1px dotted green;
}

.header-content {
  width: 80%;
  max-width: $max-content-width;
  margin: 0 auto;
}

.titlebar {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: 20px;
  // border: 1px dotted yellow;
}

.titlebar-logo {
  width: 200px;
  height: 50px;
  flex-grow: 0;
}

.titlebar-list {
  display: flex;
  margin: 0;
  flex-grow: 1;
  align-items: center;
  height: 50px;
  // border: 1px dotted white;
  justify-content: flex-end;
}

@mixin titlebar-list-item() {
  list-style-type: none;
  display: inline-block;
  color: white;
  margin-left: 20px;
  // border: 1px dotted white;
  margin-bottom: 4px;
  padding: 10px;
}

.titlebar-list-item {
  @include titlebar-list-item();
}

.titlebar-list-item_selected {
  @include titlebar-list-item();
  border-bottom: 4px solid $highlight-color;
  margin-bottom: 0;
}

.titlebar-anchor {
  text-decoration: none;
  color: #FFF;
  font-size: 0.9rem;
}

.banner {
  // border: 1px dotted blue;
  height: 460px;
  color: #000;
}

.banner-header {
  margin-top: 150px;
  margin-bottom: 20px;
  border: 1px dotted white;
  padding: 5px;
  padding-left: 10px;
  letter-spacing: 3px;
  font-size: 3.2rem;
  background-color: white;
  opacity: 0.7;
}

.banner-text {
  // border: 1px dotted white;
  font-size: 1.2rem;
  line-height: 30px;
  color: white;
  letter-spacing: 1.5px;
}
