<header class="header">

  <div class="header-content">

  <nav class="titlebar">
    <img class="titlebar-logo" src="../assets/logo-pink.png">
      <ul class="titlebar-list">
        <li class="titlebar-list-item_selected"><a class="titlebar-anchor" href="">OVERVIEW</a></li>
        <li class="titlebar-list-item"><a class="titlebar-anchor" href="">PORTFOLIO</a></li>
        <li class="titlebar-list-item"><a class="titlebar-anchor" href="">SKILLS</a></li>
      </ul>
  </nav>

  <div class="banner">
      <h1 class="banner-header">Full Stack Web Developer</h1>
      <p class="banner-text">HTML | SASS | JAVASCRIPT | TYPESCRIPT | ANGULAR | NODE | EXPRESS | MONGODB | MYSQL</p>
  </div>

  </div>

</header>

<div class="content">
  <section class="skills">

      <article class="skill-card">
        <i class="fa fa-laptop skill-icon" aria-hidden="true"></i>
        <h3 class="skill-card-heading">Fluid Design</h3>
        <p class="skill-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sapien leo, iaculis et augue sed, maximus porttitor nisl. Quisque mattis leo eu tortor vehicula, at commodo sem porttitor. Proin in sodales sem. Fusce magna quam, congue a malesuada a, mattis vel magna.</p>
      </article>
      <article class="skill-card">
        <i class="fa fa-industry skill-icon" aria-hidden="true"></i>
        <h3 class="skill-card-heading">Modern Frameworks</h3>
        <p class="skill-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sapien leo, iaculis et augue sed, maximus porttitor nisl. Quisque mattis leo eu tortor vehicula, at commodo sem porttitor. Proin in sodales sem. Fusce magna quam, congue a malesuada a, mattis vel magna.</p>
      </article>
      <article class="skill-card">
        <i class="fa fa-database skill-icon" aria-hidden="true"></i>
        <h3 class="skill-card-heading">Full Stack Javascript</h3>
        <p class="skill-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sapien leo, iaculis et augue sed, maximus porttitor nisl. Quisque mattis leo eu tortor vehicula, at commodo sem porttitor. Proin in sodales sem. Fusce magna quam, congue a malesuada a, mattis vel magna.</p>
      </article>

  </section>


  <section class="portfolio-section">
    <div class="portfolio-content">
    <h2 class="section-heading">PORTFOLIO</h2>
    <div class="projects">
      <article class="project">
        <img src="../assets/votogo-sm.png" class="project-image">
        <div class="project-description">
          <h3 class="project-heading">VOTOGO</h3>
          <p class="project-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sapien leo, iaculis et augue sed, maximus porttitor nisl. Quisque mattis leo eu tortor vehicula, at commodo sem porttitor. Proin in sodales sem. Fusce magna quam, congue a malesuada a, mattis vel magna.</p>
          <div class="project-links">
            <button>Live Site</button>
            <button>Repo</button>
            </div>
        </div>
      </article>
    </div>
    </div>
  </section>

</div>
  <!-- content -->




<footer class="footer">

</footer>

