<section class="email-section">

    <form (ngSubmit)="sendEmail()" [formGroup]="emailForm">
      <h2>Contact Me</h2>
      <div class="form-input-wrapper">
        <label for="name">Your name</label>
        <input
          id="name"
          type="text"
          name="name"
          formControlName="name"
          placeholder="Your name">
      </div>
      <div class="form-input-wrapper">
        <label for="email">Your email</label>
        <input
          id="email"
          type="email"
          name="email"
          formControlName="email"
          placeholder="Your email">
      </div>
      <div class="textarea-wrapper">
        <label for="message">Your message</label>
        <textarea
          id="message"
          name="message"
          formControlName="message"
          placeholder="Your message"></textarea>
      </div>
      <button type="submit">Send</button>

    </form>
  </section>
