<div class="background">

  <main>


    <section class="banner">
      <header>
        <img class="project-icon" src="../../../assets/icons/webpage-128.png">
        <h2>FEATURED PROJECTS</h2>
      </header>
      <p>Some are my recent web apps are featured below. You can view all the projects,
        search by language and framework, and view technical specs, on the
        <a routerLink="/portfolio">portfolio page</a>.
      </p>
    </section>

    <ng-container *ngIf="projects">

      <article *ngFor="let project of projects | async" class="project">
        <div class="image-column">
          <a [href]="project.website_link" target="_blank" rel="noopener noreferrer">
            <img [src]="project.image_url" [ngStyle]="{'order': project.image_order}">
          </a>
        </div>

        <div class="text-column">
          <div class="text-wrapper">
            <h3>{{project.name | uppercase }}</h3>
            <p>{{project.summary}}</p>

            <div class="project-links">


              <app-button-link [href]="project.github_link" value="View on GitHub" iconClass="fa fa-github">
              </app-button-link>
              <app-button-link [href]="project.website_link" value="Live Site" iconClass="fa fa-external-link-square">
              </app-button-link>

            </div>
          </div>
        </div>


      </article>

    </ng-container>
  </main>

</div>
